body {
    background-color: #fafafa;
    color: #fafafa;
}
.container {
    margin: 5% auto;
}
.card {
    position: relative;
    margin: auto;
    background-color: #26c6da;
    border-radius: 2px;
}

.row .col {
    padding: 0 0;
}

.collection {
    border: 0 !important;
    padding: 6% 1%;
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    margin-right: -12px;
}

.collection .collection-item:hover {
    background-color: #0b444b15;
}

.collection-item {
    display: block;
}

.fa {
    font-size: 1.5em;
    color: #fafafa;
    transition: 0.2s;
    margin-left: 100%;
    padding-left: 50%;

}
.fa:hover {
    color: #c62828;
}
.container .row {
    margin-left: auto; 
    margin-right: auto;
}
.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #03a9f4;
}

.btn, .btn-large {
    background-color: #03a9f4;
}
.btn:hover, .btn-large:hover {
    background-color: #144d88;
} 

#clear-task {
    background-color: #0d47a1;
}

.collection .collection-item {
    background-color: transparent;
    line-height: 1.5rem;
    margin-bottom: 0.7em;
    border-bottom: 0 !important;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.084),0 1px 7px 0 rgba(0, 0, 0, 0.119),0 3px 1px -1px rgba(0, 0, 0, 0.105); */
}
 /* .collection .collection-item:nth-child(odd) {
     background-color: #63a4ff;
}

 .collection .collection-item:nth-child(even) {
    background-color: #004ba0;
} */
.input-field label {
    color: #fafafa;
    opacity: 0.6;
}
.input-field input[type=text]:focus + label{
    color: #fafafa !important;
}

.materialize-textarea:focus([readonly]) + label {
    background-color: #0094cc;
}

input[type=text]:not(.browser-default) {
    border-bottom: 1px solid #fff;
    opacity: 0.8;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.495);
    box-shadow: 0 0 0 0;
}